@font-face {
   font-family: Catamaran;
   src: "./fonts/catamaran/Catamaran-Black.ttf", "./fonts/catamaran/Catamaran-Medium.ttf",
      "./fonts/catamaran/Catamaran-Regular.ttf";
   font-display: swap;
}
@font-face {
   font-family: Nunito;
   src: "./fonts/nunito_sans/Nunito-Bold.ttf", "./fonts/nunito_sans/Nunito-Regular.ttf",
      "./fonts/nunito_sans/Nunito-SemiBold.ttf";
   font-display: swap;
}
:root {
   /* Colores */
   --fondo: #eeedf2;
   --card-header: #141c3a;
   --titulo: #141c3a;
   --titulo-card: #6e6e6e;
   --acentuacion: #12c945;
   --username: #2fb856;
   /* Fuentes */
   --catamara: "Catamaran", sans-serif;
   --nunito: "Nunito", sans-serif;
}
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body {
   background: var(--fondo);
}
li {
   list-style: none;
}
a {
   text-decoration: none;
}
.conte {
   width: 100%;
   /* height: auto; */
}
/* Contenedor */
.container {
   margin: 0 auto;
   width: 100%;
   background: var(--card-header);
   border-radius: 0px 0px 24px 24px;
   -webkit-border-radius: 0px 0px 24px 24px;
   -moz-border-radius: 0px 0px 24px 24px;
   -ms-border-radius: 0px 0px 24px 24px;
   -o-border-radius: 0px 0px 24px 24px;
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.35);
   /* margin-bottom: 16px; */
}
/* Header */
.header {
   padding-top: 26px;
   margin: 0 auto;
   width: 90%;
   /* z-index: 1; */
}
.header .profile {
   display: grid;
   grid-template-columns: 86px auto auto;
   grid-template-rows: 1fr auto;
   grid-gap: 12px;
}
/* =========== Avatar */
.header .profile .avatar {
   grid-column: 1;
   grid-row: 1/3;
}
.header .profile .avatar {
   width: 86px;
   height: 86px;
}
.header .profile .avatar img {
   width: 86px;
   height: 86px;
}
/* =========== Nombre */
.header .profile .name {
   grid-column: 2;
   grid-row: 1/2;
   font-family: var(--catamara);
   color: var(--fondo);
   font-size: 18px;
   font-weight: 900;
   line-height: 30px;
}
/* =========== Bandera */
.header .profile .flag {
   grid-column: 3;
   grid-row: 1/3;
   object-fit: cover;
   display: flex;
   align-items: center;
   justify-content: center;
}
.header .profile .flag img {
   width: 44px;
   height: 44px;
   object-fit: cover;
}
/* =========== Email */
.header .profile .email {
   grid-column: 2;
   grid-row: 2/3;
   font-family: var(--catamara);
   font-weight: 500;
   font-size: 14px;
   line-height: 23px;
   letter-spacing: 0.5px;
   color: var(--acentuacion);
}
.text {
   text-align: center;
   margin-top: 24px;
   margin-bottom: 18px;
   font-family: var(--catamara);
   color: var(--fondo);
   font-weight: 500;
   font-size: 14px;
   line-height: 23px;
}
/* =========== Tecnologias */
.technology {
   width: 100%;
   display: flex;
   justify-content: center;
   padding-top: 14px;
   padding-bottom: 34px;
}
.technology .list-tech {
   width: 95%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.technology ul {
   display: flex;
   flex-direction: column;
}
.technology ul li {
   text-align: center;
   margin-top: 14px;
}
/* ===== Logos */
.technology ul li picture {
   width: 24px;
   height: 24px;
   object-fit: cover;
}
.technology ul li picture img {
   width: 24px;
   height: 24px;
   object-fit: cover;
}
/* ===== Figma */
.technology ul li p {
   font-family: var(--catamara);
   font-weight: 500;
   font-size: 16px;
   line-height: 26px;
   color: var(--fondo);
}
/* ============================= */
/* ====== Sección de cards ===== */
/* ============================= */
.body-cards {
   width: 92%;
   margin: 0 auto;
}
.body-cards h2 {
   margin-top: 38px;
   margin-bottom: 10px;
   font-family: var(--nunito);
   color: var(--titulo);
   font-weight: bold;
   font-size: 18px;
   line-height: 25px;
}
.body-cards .card {
   width: 100%;
   height: 66px;
   margin-top: 14px;
   display: flex;
   align-items: center;
   padding-left: 12px;
   background: #f9f9f9;
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
   border-radius: 8px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   -ms-border-radius: 8px;
   -o-border-radius: 8px;
   border: 0px solid var(--fondo);
   /*  */
   transition: 0.2s ease;
   -webkit-transition: 0.2s ease;
   -moz-transition: 0.2s ease;
   -ms-transition: 0.2s ease;
   -o-transition: 0.2s ease;
}
.body-cards .card:hover {
   border: 2px solid var(--acentuacion);
   background: var(--fondo);
}

.body-cards .card picture {
   padding-right: 32px;
}
.body-cards .card picture img {
   width: 42px;
   height: 42px;
}
.body-cards .card .title-card span {
   font-family: var(--nunito);
   color: var(--titulo-card);
   font-style: normal;
   font-weight: 600;
   font-size: 14px;
   line-height: 19px;
}
.body-cards .card .title-card p {
   font-family: var(--catamara);
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 16px;
   letter-spacing: 0.5px;
   color: var(--username);
}
footer {
   display: flex;
   justify-content: center;
   margin-top: 64px;
   margin-bottom: 36px;
}
footer p {
   font-family: var(--nunito);
   font-style: normal;
   font-weight: 600;
   font-size: 12px;
   line-height: 16px;
   color: var(--titulo-card);
}
/* ============================= */
/* ===== Sección responsiv ===== */
/* ============================= */
/* Large desktop */
/* @media (min-width: 1200px) and (min-width: 1020px) { */
@media screen and (min-width: 1020px) {
   .container {
      border-radius: 0px 0px 48px 48px;
      -webkit-border-radius: 0px 0px 48px 48px;
      -moz-border-radius: 0px 0px 48px 48px;
      -ms-border-radius: 0px 0px 48px 48px;
      -o-border-radius: 0px 0px 48px 48px;
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.35);
      /*margin-bottom: 16px;
   */
   }
   /* Header */
   .header {
      width: 870px;
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto;
      /* z-index: 1; */
   }
   .header .profile {
      /* display: grid; */
      grid-template-columns: 174px auto auto;
      grid-template-rows: auto auto auto;
      grid-gap: 0px;
   }
   /* =========== Avatar */
   .header .profile .avatar {
      grid-column: 1;
      grid-row: 1/4;
   }
   .header .profile .avatar {
      width: 144px;
      height: 144px;
      /* padding-right: 24px; */
   }
   .header .profile .avatar img {
      width: 144px;
      height: 144px;
   }
   /* =========== Nombre */
   .header .profile .name {
      grid-column: 2;
      grid-row: 1/2;
      font-family: var(--catamara);
      color: var(--fondo);
      font-size: 24px;
      line-height: 39px;
   }
   /* =========== Bandera */
   .header .profile .flag {
      grid-column: 2;
      grid-row: 2/3;
      object-fit: cover;
      justify-content: left;
      margin-bottom: 16px;
   }
   .header .profile .flag img {
      width: 36px;
      height: 36px;
      object-fit: cover;
   }
   /* =========== Email */
   .header .profile .email {
      grid-column: 2;
      grid-row: 3/4;
      font-size: 16px;
      line-height: 1.5px;
      letter-spacing: 1.5px;
   }
   .text {
      grid-column: 2;
      grid-row: 1/2;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 0px;
      margin-bottom: 0px;
      font-size: 18px;
      line-height: 30px;
      letter-spacing: 1px;
   }
   /* =========== Tecnologias */
   .technology {
      grid-column: 1/3;
      grid-row: 2/3;
   }
   .technology .list-tech {
      width: 45%;
   }
   .technology ul li p {
      font-size: 16px;
   }
   /* ============================= */
   /* ====== Sección de cards ===== */
   /* ============================= */
   .body-cards {
      width: 980px;
   }
   .so-med-group,
   .code-group {
      display: flex;
      justify-content: space-between;
   }
   .body-cards h2 {
      font-size: 20px;
      line-height: 32px;
   }
   .body-cards .card {
      width: 382px;
   }
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
   /* Contenedor */
   .container {
      margin: 0 auto;
      width: 100%;
   }
   /* Header */
   .header {
      padding-top: 26px;
      /* margin: 0 auto; */
      width: 75%;
      /* z-index: 1; */
   }
   .header .profile {
      grid-template-columns: 124px auto auto;
      grid-gap: 18px;
   }
   /* =========== Avatar */
   .header .profile .avatar {
      width: 120px;
      height: 120px;
   }
   .header .profile .avatar img {
      width: 120px;
      height: 120px;
   }
   /* =========== Nombre */
   .header .profile .name {
      font-size: 22px;
      line-height: 38px;
   }
   /* =========== Bandera */
   .header .profile .flag {
      grid-row: 1/3;
      object-fit: cover;
      align-items: center;
      justify-content: center;
   }
   .header .profile .flag img {
      width: 54px;
      height: 54px;
      object-fit: cover;
   }
   /* =========== Email */
   .header .profile .email {
      font-size: 16px;
      line-height: 24px;
   }
   .text {
      margin-top: 32px;
      margin-bottom: 22px;
      font-size: 18px;
      line-height: 23px;
   }
   /* =========== Tecnologias */
   .technology {
      width: 100%;
      display: flex;
      justify-content: center;
      padding-bottom: 34px;
   }
   .technology .list-tech {
      width: 80%;
   }
   /* ===== Figma */
   .technology ul li p {
      font-size: 16px;
      line-height: 28px;
   }
   /* ============================= */
   /* ====== Sección de cards ===== */
   /* ============================= */
   .body-cards {
      width: 80%;
   }
   .body-cards h2 {
      font-size: 20px;
      line-height: 28px;
   }
   .body-cards .card .title-card h4 {
      font-size: 16px;
      line-height: 22px;
   }
   .body-cards .card .title-card p {
      font-size: 14px;
      line-height: 16px;
   }
   footer {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 42px;
      margin-bottom: 36px;
   }
   footer p {
      font-family: var(--nunito);
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
      color: var(--titulo-card);
   }
}
